{% extends 'base.html' %}

{% block header %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Template • TodoMVC</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/poll/base.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/poll/index.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
	<section class="todoapp">
		<header class="header">
			<form action="{{ url_for('poll.create') }}" method="post">
				<h1>todos</h1>
				<input class="new-todo"
					name="body"
					id="body"
					value="{{ request.form['body'] }}"
					placeholder="What needs to be done?" autofocus required>
			</form>
		</header>
		<section class="main" >
			<details open>
				<summary>
					Hola mundo
				</summary>
					<ul class="todo-list">
						{% for question in questions %}
							<li>
								<div class="view">
									<input class="toggle"
										type="checkbox"
										onclick='handleClick(this, {{ question['id'] }}, "{{url_for('poll.update')}}" );'
										{{ 'checked' if question['is_checked'] == 1 }}
									>
									<label>{{ question['body'] }}</label>
									<form class="destroy" action="{{ url_for('poll.delete', id=question['id']) }}" method="post">
										<button class="destroy" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
									</form>
								</div>
								<input class="edit" value="Rule the web">
							</li>
						{% endfor %}
					</ul>
			</details>
		</section>

		<footer class="footer">
			<span class="todo-count"><strong>0</strong> item left</span>
			<ul class="filters">
				<li>
					<a class="{{ 'selected' if filter == 'all' }}" href="{{ url_for('index') }}">All</a>
				</li>
				<li>
					<a class="{{ 'selected' if filter == 'active' }}" href="{{ url_for('poll.active') }}">Active</a>
				</li>
				<li>
					<a class="{{ 'selected' if filter == 'completed' }}" href="{{ url_for('poll.completed') }}">Completed</a>
				</li>
			</ul>
			<a class="clear-completed" href="{{ url_for('poll.clear_complete') }}" onclick="return confirm('You are about to eliminate all questions. Are you sure you want to continue?');">Clear completed</a>
		</footer>
	</section>
	<footer class="info">
		<p>Double-click to edit a todo</p>
		<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
		<p>Created by <a href="http://todomvc.com">Yosbel Peñate</a></p>
		<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
	</footer>
	<script src="{{ url_for('static', filename='js/poll/app.js') }}"></script>
{% endblock %}

